<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blogpage</title>
        <style>
            .blog-content {
                line-height: 1.6;
            }

            .blog-content h1,
            .blog-content h2,
            .blog-content h3,
            .blog-content h4,
            .blog-content h5,
            .blog-content h6 {
                margin-top: 1em;
                margin-bottom: 0.5em;
            }

            .blog-content p {
                margin-bottom: 1em;
            }

            .blog-content img {
                max-width: 100%;
                height: auto;
            }

            .blog-content pre {
                background-color: #f4f4f4;
                padding: 1em;
                border-radius: 4px;
                overflow-x: auto;
            }
        </style>
</head>


<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <h1>
                <%= blog.title %>
            </h1>
            <h1>
                <%= JSON.stringify(blog.createdBy) %>
            </h1>
            <img src="<%= blog.coverImage %>" width="400vh" class="img-fluid mb-3" alt="Blog cover image">
            <div class="blog-content">
                <%- blog.bodyHtml %>
            </div>
        </div>

        <div class="container mt-2">
            <% if (blog.createdby.fullName && blog.createdby.profileImageURL) { %>
                <img src="<%= blog.createdby.profileImageURL %>" alt="author" width="50px" class="img-fluid mb-3">
                <% } %>
                    <span>Written by <%= blog.createdby ? blog.createdby.fullName : 'Anonymous' %></span>
        </div>

        <div class="container mt-3">
            <h3>Comments (<%= comments.length %>)</h3>
            <% if (locals.comments && comments.length> 0) { %>
                <div class="container">
                    <div class="mt-3">
                        <% comments.forEach(comment=> { %>
                            <div>
                                <img src="<%= comment.createdby.profileImageURL %>" width="30px" />
                                <%= comment.createdby.fullName %>
                                    <pre><%= comment.comment %></pre>
                            </div>
                            <% }); %>
                    </div>
                </div>
                <% } else { %>
                    <p>No comments yet.</p>
                    <% } %>

                        <% if (locals.user) { %>
                            <div class="container mt-2">
                                <form action="/blog/comment/<%= blog._id %>" method="POST">
                                    <div class="mb-3">
                                        <input type="text" name="comment" class="form-control" id="comment"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <% } else { %>
                                <p>Please <a href="/user/signin">Signin</a> to leave a comment.</p>
                                <% } %>
        </div>


        <%- include('./partials/script') %>
</body>

</html>